# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc
**/__pycache__/**

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Output files / Testing artifacts
*.png
*.jpg
*.jpeg
*.json
*.html
*.bin
make_files.py
!sample_images/**
!lensint/web/**
